@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFF;
}

.beranda{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: -10%;
    margin-bottom: -7.9%;
}

header{
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFF;
    /* box-shadow: 0 6px 9px rgba(152, 152, 152, 0.15); */
    transition: 0.5s;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
    font-size: 16px;
}

header ul li a{
    display: inline-block;
    color: #07AA14;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    font-weight: 400;
}

header ul li a:hover{
    background: #07AA14;
    border-radius: 5rem;
    color: #FFFF;
    transition: background 0.5s;
}

header .logo{
    position: relative;
    max-width: 80px;
}

.head-content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-content .textBox{
    position: relative;
    max-width: 600px;
}

.head-content .textBox h2{
    color: #07AA14;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 500;
}

.head-content .textBox h2 span{
    color: #07AA14;
    font-size: 1.2em;
    font-weight: 700;
}

.head-content .textBox p{
    margin-top: 20px;
    color: #808080;
    font-weight: normal;
}

.head-content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #07AA14;
    color: #FFFF;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.head-content .imgBox{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.head-content .imgBox img{
    max-width: 600px;
}

.tentang-kami-container{
    padding-top: 6.5%;
}

.tentang-kami-container h3 {
    padding-bottom: 10px;
    font-weight: 600;
    color: #07AA14;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.tentang-kami-container h3::after {
    content: "";
    border-bottom: 5px solid #07AA14;
    width: 90px;
    display: block;
    margin: 15px auto;
}

.tentang-kami-container img{
    width: 670px;
    float: left;
    margin:0 3% 7% 7%;
}

.judul-isi{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    color: #303030;
    font-size: 20px;
    font-weight: 500;
}

.tentang-kami-container p{
    font-size: 16px;
    font-weight: normal;
    color: #808080;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-right: 7%;
    line-height: 1.5;
}

.layanan-container{
    display: flex;
    gap: 20px;
    margin: 0% 7% 0% 7%;
}

.layanan-container .icons{
    background: #07AA14;
    font-family: 'Poppins', sans-serif;
    color: #FFFF;
    border: 1px solid rgb(0, 0, 0,.1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.layanan-container .icons h5{
    font-weight: bold;
}

.layanan-container .icons img{
    height: 60px;
    margin-right: 15px;
    margin-left: 10px;
}

.layanan-container .icons span{
    font-size: 16px;
    color: #ffffffd3;
}

.sampah-container{
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 7%;
    background: #FFFF;
}

.sampah-container h3{
    font-weight: 600;
    color: #07AA14;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.sampah-container h3::after{
    content: "";
    border-bottom: 5px solid #07AA14;
    width: 90px;
    display: block;
    margin: 15px auto;
}

.sampah{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

.box{
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 / 15%);
    border-radius: 0.5rem;
    position: relative;
}

.box img{
    width: 100%;
    height: auto;
}

.box h5{
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #303030;
    font-size: 16px;
}

.box h6{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #b92323;
}

.sampah-preview{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    width: 100%;
    z-index: 4000;
    background: rgba(0, 0, 0, .8);
    display: none;
    justify-content: center;
}

.sampah-preview .preview{
    display: none;
    padding: 3rem;
    text-align: center;
    background: #FFFF;
    position: relative;
    margin: 4rem;
    width: 30rem;
    border-radius: 0.5rem;
}

.sampah-preview .preview.active{
    display: inline-block;
}

.sampah-preview .preview img{
   height: 350px;
}

.sampah-preview .preview .fa-times{
    position: absolute;
    top: 1rem; right: 1.2rem;
    cursor: pointer;
    color: #303030;
    font-size: 1.3rem;
}

.sampah-preview .preview h5{
    color: #303030;
    padding-top: 1.5rem ;
    font-size: 1.5rem;
}

.sampah-preview .preview h6{
    color: #b92323;
    font-size: 1.1rem;
}

.sampah-preview .preview h6::after{
    content: "";
    border-bottom: 2px solid #808080;
    width: 400px;
    display: block;
    margin: 30px auto;
    border-radius: 0.5rem;
}

.sampah-preview .preview p {
    color: #808080;
    font-size: 1rem;
}

.temukan-kami-container{
    padding-top: 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

.temukan-kami-container h3{
    font-weight: 600;
    color: #07AA14;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.temukan-kami-container h3::after{
    content: "";
    border-bottom: 5px solid #07AA14;
    width: 90px;
    display: block;
    margin: 15px auto;
}

.daftar-nasabah h3{
    padding-top: 10%;
}

.gabung h3{
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 600;
    color: #07AA14;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.gabung h3::after {
    content: "";
    border-bottom: 5px solid #07AA14;
    width: 90px;
    display: block;
    margin: 15px auto;
}

.gabung-content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    border-radius: 10px;
    background-color: #07AA14;
    margin-bottom: 3rem;
}

.gabung-content img{
    width: 250px;
    display: flex;
    justify-content: flex-end;
}

.gabung-content h4{
    font-weight: 600;
}

.gabung-content p{
    margin-top: 1rem;
    margin-bottom: -0.2px;
}

.gabung-content ul{
    line-height: 2em;
}

.gabung-content ul li a{
    text-decoration: none;
    color: #FFFF;
    font-weight: 600;
}

.bg{
    background-color:#303030;
}

.copyright{
    font-family: 'Poppins', sans-serif;
}