body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
}

nav{
    background-color: #07AA14;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.navbar-brand{
    margin: 0 3%;
}

nav ul {
    margin: 0 3%;
    list-style: none;
    display: flex;
    gap: 30px;
}

nav li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    color: #FFFF;
    font-family: 'Poppins', sans-serif;
}

nav li a:hover{
    background-color: #FFFF;
    color: #07AA14;
    transition: 1s;
}

.c-item {
    height: 700px;
}

.tentang-kami-container h3 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: bolder;
    color: #07AA14;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.tentang-kami-container h3::after {
    content: "";
    border-bottom: 5px solid #07AA14;
    width: 90px;
    display: block;
    margin: 15px auto;
}

.tentang-kami-container img{
    width: 670px;
    float: left;
    margin:0 3% 5% 5%;
}



.judul-isi{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    color: #303030;
    font-size: 20px;
    font-weight: 600;
}

.tentang-kami-container p{
    font-size: 16px;
    font-weight: normal;
    color: #808080;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    margin-right: 4%;
    line-height: 1.5;
}

.layanan-container{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0% 5% 0% 5%;

}

.layanan-container .icons{
    background: #07AA14;
    font-family: 'Poppins', sans-serif;
    color: #FFFF;
    border: 1px solid rgb(0, 0, 0,.1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
    margin-bottom: 5%;
}

.layanan-container .icons h5{
    font-weight: bold;
}

.layanan-container .icons img{
    height: 60px;
    margin-right: 15px;
    margin-left: 10px;
}

.layanan-container .icons span{
    font-size: 16px;
    color: #ffffffd3;
}

.sampah-container{
    padding: 70px 5%;
    padding-top: 2%;
    height: 1700px;
    background-color: #efefef;
}

.sampah-container h3{
    font-weight: bolder;
    color: #07AA14;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.sampah-container h3::after{
    content: "";
    border-bottom: 5px solid #07AA14;
    width: 90px;
    display: block;
    margin: 15px auto;
}

.sampah{
    padding: 30px 1% ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 15px;
    text-align: center;
}

.box{
    padding: 20px 0px 5px 0px;
    background: #FFFF;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border-radius: 10px;
    position: relative;
    transition: all 35.s ease;
}

.box img{
    width: 60%;
    height: auto;
}

.box h5{
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #303030;
    font-size: 16px;
}

.box h6{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #b92323;
}

